/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Default styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-background-color: #1f2937;
  --main-text-color: #f9faf8;
  --quote-bg-color: #e5e7eb;
  --cta-color: #3882f6;
}

img {
  height: 100%;
  max-width: 100%;
}

body {
  cursor: default;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* Header section */
.header-section {
  background-color: var(--dark-background-color);
  color: var(--main-text-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;
}

.logo h1 {
  font-size: 24px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
  padding-left: 0;
}

.nav-links ul li a {
  color: var(--quote-bg-color);
  font-size: 18px;
  text-decoration: none;
}

/* Hero section */
.hero-section {
  background-color: var(--dark-background-color);
  color: var(--main-text-color);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}

.text-area {
  width: 40%;
}

.text-area h1 {
  color: var(--main-text-color);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 0;
}

.text-area p {
  color: var(--quote-bg-color);
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
}

.text-area a {
  background-color: var(--cta-color);
  color: var(--main-text-color);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 30px;
}

/* Random section */
.random-section {
  background-color: var(--main-text-color);
  color: var(--dark-background-color);
}

.rand-sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}

.rand-sec-container h2 {
  color: var(--dark-background-color);
  font-size: 36px;
  font-weight: 900;
}

.cols {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.col1 img,
.col2 img,
.col3 img,
.col4 img {
  border-radius: 20px;
  border: var(--cta-color);
  border-style: solid;
}

.col1 p,
.col2 p,
.col3 p,
.col4 p {
  text-align: center;
}

/* Testimonials section */
.testimonials {
  background-color: var(--quote-bg-color);
  color: var(--dark-background-color);
  font-size: 36px;
  font-style: italic;
}

.testimonials-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}

.testimonials-container h2 {
  font-weight: 300;
}

.testimonials-container p {
  text-align: right;
  font-style: normal;
  font-weight: 700;
}

/* Call to action section */
.call-to-action {
  background-color: var(--main-text-color);
  padding: 100px 0;
}

.call-to-action2 {
  background-color: var(--quote-bg-color);
  padding: 100px 0;
}

.call-to-action2 h2 {
  color: var(--dark-background-color);
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.mood {
  font-size: 25px;
  font-weight: 500;
}

.cta-container {
  background-color: var(--cta-color);
  border-radius: 10px;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 100px;
}

.cta-btn {
  background-color: var(--cta-color);
  color: var(--main-text-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 40px;
}

/* Footer Section */

footer {
  background-color: var(--dark-background-color);
  color: var(--main-text-color);
}

.footer-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.footer-container p {
  text-align: center;
}
